<section class="form my-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 pt-4">
        <form action="" class="pe-lg-5">
          <h2 class="fw-bold h1">Contact Us</h2>
          <p class="py-3">You can't find what you are looking for? It is ok. We can help.</p>

          <div class="input-containers position-relative d-flex align-items-center mt-3 z-0">
            <i class="bi bi-person fs-5 position-absolute pb-1 ps-2"></i>
            <input type="text" placeholder="Your Name" class="ps-5 form-control py-2">
          </div>
          <div class="input-containers position-relative d-flex align-items-center mt-3 z-0">
            <i class="bi bi-envelope fs-5 position-absolute pb-1 ps-2"></i>
            <input type="text" placeholder="Your Email Address" class="ps-5 form-control py-2">
          </div>
          <div class="input-containers position-relative d-flex align-items-center mt-3 z-0">
            <i class="bi bi-file-earmark fs-5 position-absolute pb-1 ps-2"></i>
            <input type="text" placeholder="Subject" class="ps-5 form-control py-2">
          </div>
          <div class="input-containers mt-3">
            <textarea name="" id="" cols="30" rows="15" class="form-control py-3" placeholder="Your Message" style="resize: none;"></textarea>
          </div>
          <div class="input-btn mt-4">
            <button type="submit" class="w-100 py-3 rounded-2 border-0 fw-semibold fs-5">Submit</button>
          </div>
        </form>
      </div>
      <!--- Contact Information -->
      <div class="col-lg-6 contact-info-container h-100 mt-4 mt-lg-0">
        <div class="contact-main-container pt-5 rounded-top-4">
          <!--- Contct Header -->
          <div class="contact-information-header pe-5 px-4">
            <h3 class="fw-bold">Contact Information</h3>
            <p>When you fill out the form, our team will get back to you within 24 hours</p>
          </div>
           <!--- Contct body -->
          <div class="contact-information-body px-4 py-4 d-flex flex-column gap-2">
            <div class="contact-detail d-flex gap-3">
              <i class="bi bi-telephone"></i>
              <p>+232 2255 66558</p>
            </div>
            <div class="contact-detail d-flex gap-3">
              <i class="bi bi-envelope"></i>
              <p>admin&#65312;newbiefinder.com</p>
            </div>
            <div class="contact-detail d-flex gap-3">
              <i class="bi bi-geo"></i>
              <p>10389 Old Placerville Rd, Sacramento, CA 95827</p>
            </div>
          </div>
        </div>

        <div class="contact-location-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.482767327585!2d-121.3070095!3d38.5687292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809add2a076a493b%3A0x12fdee054c191253!2s10389%20Old%20Placerville%20Rd%2C%20Sacramento%2C%20CA%2095827!5e0!3m2!1sen!2sus!4v1706120334798!5m2!1sen!2sus" width="600" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 my-0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
