<app-navbar></app-navbar>
<div class="main__container mt-5">

  <section class="our__mission container py-4">
    <div class="row align-items-center">
      <div class="col-lg-6 our__mission_title order-1">
        <h2 class="fw-bold h1">
          <span class="h4 fw-bold">Our Mission</span> <br>
          Connecting Aspirations to Opportunities.
        </h2>
        <p class="lh-lg py-4">
          Welcome to <span class="fw-bold">Newbie Job Finder</span>, where we are dedicated to empowering entry-level
          talents on their journey towards fulfilling careers. Our platform goes beyond a typical job-search tool; it's
          a comprehensive guide designed to assist both new graduates and career changers in navigating the dynamic
          landscape of entry-level employment.
        </p>
        <div class="mission_btn">
          <a class="text-decoration-none px-4 py-3 rounded-2 fw-semibold" routerLink="/signup">Join Us</a>
        </div>
      </div>
      <div class="col-lg-6 our_mission_img text-center py-3 py-lg-0 order-lg-2">
        <img src="../../../../assets/about-hero.png" alt="" class="img-fluid">
      </div>
    </div>
  </section>

  <app-testimonial></app-testimonial>

  <section class="choose_us container my-5 py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 choose_us_img text-center">
        <img src="../../../../assets/about-hero1.png" alt="" class="w-100 object-fit-cover img-fluid" >
      </div>
      <div class="col-lg-6 choose_us_content py-3">
        <h2 class="subtitle fw-bold h1">What Sets Us Apart</h2>
        <p class="lh-lg pt-3">
          Embark on a transformative experience as you explore a myriad of entry-level job opportunities tailored to
          your skills and aspirations.
        </p>
        <p class="lh-lg">
          Newbie Job Finder serves as your personal career catalyst, offering invaluable resources to help you craft a
          standout resume, hone your interview skills, and present your best professional self. Our commitment goes
          beyond connecting you with opportunities – we strive to empower you with the knowledge and tools needed to
          thrive in your chosen career path.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6 choose_us_content order-1">
        <h2 class="subtitle fw-bold h1">Personalized Guidance for Your Success</h2>
        <p class="lh-lg py-3">
          At Newbie Job Finder, we understand the importance of a well-crafted profile. Before sharing your information
          with our esteemed partners, we provide a personalized profile check, ensuring that your unique strengths and
          potential shine through. This commitment to quality ensures that both you and our partners experience a
          seamless and meaningful connection.
        </p>
        <div class="choose_btn">
          <a href="#" class="px-3 py-2 text-decoration-none" routerLink="/signup">Register Free</a>
        </div>
      </div>
      <div class="col-lg-6 choose_us_img py-3 order-lg-2">
        <img src="../../../../assets/about-hero2.png" alt="" class="img-fluid">
      </div>
    </div>
  </section>

  <section class="core_value container">
    <h2 class="text-center fw-bold h1">Core Values</h2>
    <div class="row pt-5">
      <div class="col-lg-4 text-center">
        <div class="core_img">
          <img src="../../../../assets/diagram.gif" alt="" width="100">
        </div>
        <div class="core_content text-center">
          <p class="fw-bold">Empowerment</p>
          <p>
            We empower individuals to take control of their career journeys and unlock their full potential.
          </p>
        </div>
      </div>

      <div class="col-lg-4 text-center">
        <div class="core_img">
          <img src="../../../../assets/balloons.gif" alt="" width="100">
        </div>
        <div class="core_content">
          <p class="fw-bold">Integrity</p>
          <p>
            We operate with transparency, honesty, and a commitment to ethical practices in all interactions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="core_img">
          <img src="../../../../assets/diamond.gif" alt="" width="100">
        </div>
        <div class="core_content">
          <p class="fw-bold">Innovation</p>
          <p>
            We continuously strive for innovation, leveraging technology to provide cutting-edge solutions for career
            development.
          </p>
        </div>
      </div>
    </div>

  </section>
  
  <app-cta></app-cta>
  <app-form></app-form>
</div>
<app-footer></app-footer>