<section class="call-to-action py-5 my-5">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <p class="fs-3 fw-semibold py-4 text-white">Take the Next Step in Your Career Ascent - Sign Up Now, and Let Us Help You Navigate the Landscape of Junior and Entry-Level Positions</p>
        <a href="#" class="text-decoration-none fw-semibold cta-btn py-3 px-3" routerLink="/signup">Get Started</a>
      </div>
    </div>
  </div>
</section>
