<div class="container-fluid social-media text-white py-2">
  <div class="container d-flex gap-3 align-items-center justify-content-end">
    <p class="m-0 fw-semibold">Follow Us:</p>
    <div class="icons d-flex gap-3 align-items-center">
      <a href="#" class="text-decoration-none text-white">
        <i class="bi bi-facebook fs-5"></i>
      </a>
      
      <a href="#" class="text-decoration-none text-white" >
        <i class="bi bi-twitter-x fs-5"></i>
      </a>

      <a href="#" class="text-decoration-none text-white">
        <i class="bi bi-linkedin fs-5"></i>
      </a>
      
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg flex-column p-0 position-sticky top-0 d-none d-lg-block navbar-containar z-3 shadow-sm">
  <div class="container py-lg-3">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../../assets/logo-njf.png" alt="" width="150">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0 d-flex gap-4">
        <li class="nav-item" routerLinkActive="is-active">
          <a class="text-decoration-none fw-semibold"  routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="is-active">
          <a class="text-decoration-none fw-semibold" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item" routerLinkActive="is-active">
          <a class="text-decoration-none fw-semibold" routerLink="/services">Services</a>
        </li>
        <li class="nav-item" routerLinkActive="is-active">
          <a class="text-decoration-none fw-semibold" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <div class="login-section d-flex gap-2">
        <div class="login" routerLinkActive="current">
          <a href="#" routerLink="/login" class="text-decoration-none  sign py-1 px-3 rounded-3">Login</a>
        </div>
        <div class="login border-start border-2 border-success ps-2" routerLinkActive="current">
          <a href="#" routerLink="/signup" class="sign text-decoration-none px-3 py-1 rounded-3">SignUp</a>
        </div>
        
      </div>
     
    </div>
  </div>
</nav>


<!--- RWD MENU -->
<nav class="navbar navbar-expand-lg flex-column p-0 position-sticky top-0 d-lg-none navbar-containar z-3 shadow-sm">
  <div class="container position-relative  py-2 ">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../../assets/logo-njf.png" alt="" width="150">
    </a>
    <i class="bi bi-list fs-3" (click)="toggleMenu()"></i>
    
    <div class="position-fixed bg-dark rwd-nav" [ngClass]="activeMenu ? 'toggleMenu' : '' ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
        <i class="bi bi-x-square-fill text-success mb-4 fs-5" (click)="toggleMenu()"></i>
        <li class="nav-item d-flex gap-3 align-items-center" routerLinkActive="active">
          <i class="bi bi-house-door-fill"></i>
          <a class="nav-link"  routerLink="/home" (click)="toggleMenu()">Home</a>
        </li>
        <li class="nav-item d-flex gap-3 align-items-center" routerLinkActive="active">
          <i class="bi bi-buildings-fill"></i>
          <a class="nav-link" routerLink="/about" (click)="toggleMenu()">About Us</a>
        </li>
        <li class="nav-item d-flex gap-3 align-items-center" routerLinkActive="active">
          <i class="bi bi-reception-4"></i>
          <a class="nav-link" routerLink="/services" (click)="toggleMenu()">Services</a>
        </li>
        <li class="nav-item d-flex gap-3 align-items-center" routerLinkActive="active">
          <i class="bi bi-telephone-outbound-fill"></i>
          <a class="nav-link" routerLink="/contact" (click)="toggleMenu()">Contact Us</a>
        </li>
      </ul>
      <div class="login-section mt-4 d-flex">
        <div class="login me-3" routerLinkActive="current">
          <a href="#" routerLink="/login" class="text-decoration-none  sign py-1 px-3 rounded-3" (click)="toggleMenu()" >Login</a>
        </div>
        <div class="login border-start border-2 border-success ps-2" routerLinkActive="current">
          <a href="#" routerLink="/signup" class="sign text-decoration-none px-3 py-1 rounded-3" (click)="toggleMenu()" >SignUp</a>
        </div>
      </div>
    </div>
  </div>
</nav>