<app-navbar></app-navbar>
<section class="services-hero py-5">
  <h1 class="fw-bold text-white text-center">Services</h1>
</section>

<section class="services-page my-5">
  <div class="container ">
    <div class="row shadow-lg mt-4 mt-lg-5" *ngFor="let service of services; ">
      <div class="service-img col-sm-12 col-lg-4 col-xl-3 p-0">
        <img src={{service.img}} alt="" class="w-100 h-100 rounded-sm-0" width="300" height="300px">
      </div>
      <div class="col-sm-12 col-lg-8 service-content py-3 px-lg-4 d-flex flex-column justify-content-center">
        <h2 class="fw-bold h1">{{service.title}}</h2>
        <p class="pt-2 lh-lg">{{service.desc}}</p>
        <div class="d-flex gap-3 service-btn">
          <a href="#" routerLink="/signup" class="px-3 py-2 rounded-1">Create an Account</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<app-us-section></app-us-section>
<!-- Testimonial -->
<app-testimonial></app-testimonial>
<!-- Form -->
<app-form></app-form>
<app-footer></app-footer>