<footer class="footer pt-5">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm-4 col-md-12 col-lg-4 text-md-center text-lg-start">
        <a class="navbar-brand" routerLink="home">
          <img src="../../../../assets/newbie-footer.png" alt="" width="180">
        </a>
        <p class="lh-lg pt-3 logo-content">
          Empowering Futures, Transforming Careers. Newbie Job Finder - Your Gateway to Success in Landing Entry-Level and Junior Positions. Start Your Career Journey Today!
        </p>
      </div>

      <div class="col-sm-2 col-md-4 col-lg-2 ps-lg-4">
        <p class="fw-bold text-white h5 mb-4">Company</p>
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li>
            <a href="#" class="text-decoration-none" routerLink="/about">About Us</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none" routerLink="/services">Services</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Careers</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none" routerLink="contact">Contact Us</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-2 col-md-4 col-lg-2 ps-lg-4">
        <p class="fw-bold text-white h5 mb-4">Legal</p>
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li>
            <a href="#" class="text-decoration-none">Terms Of Use</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Cookie Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 ps-lg-4">
        <p class="fw-bold text-white h5 mb-4">Stay up to date</p>
        <div class="footer-letter">
          <p>Join our journey for regular updates on Expertia's products and services.</p>
          <div class="footer-input py-3 d-flex">
            <input type="text" class="form-control" placeholder="Enter Email Address">
            <button class="border-0 px-2 fw-semibold">Subscribe</button>
          </div>
        </div>
      </div>

    </div>
    <div class="copyright border-top border-secondary py-2">
      <div class="copyright-title d-flex gap-4 align-items-center justify-content-center">
        <small class="d-flex gap-4">
          <p class="m-0 text-white"> &#169; Copyright 2024 | CarlosDev | All Rights Reserved</p>
          <div class="copyright-social-media d-flex gap-3">
            <a href="#" class="text-decoration-none text-white">
              <i class="bi bi-facebook"></i>
            </a>
            
            <a href="#" class="text-decoration-none text-white" >
              <i class="bi bi-twitter-x"></i>
            </a>
    
            <a href="#" class="text-decoration-none text-white">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </small>
      </div>
    </div>
  </div>
</footer>
