.registration-complete {
  background-color: #2F3032;
  border-left: 5px solid #EB5757;
  margin-top: 10rem;
  margin-right: 10rem;
}

.circle-close {
  background-color: #EB5757;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  background-color: #2F3032;
  border-left: 5px solid #00CC99;
  margin-top: 10rem;
  margin-right: 10rem;
}

.signup .circle-close {
  background-color: #00CC99;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

