<section class="container about_us pt-5 py-lg-5 my-lg-5">
  <div class="row">
    <div class="col-lg-5 ">
      <h2 class="fw-bold h1">
        Let Newbie Job Finder Be Your <span>Bridge to Success!</span>
      </h2>
      <p class="pt-3 lh-lg">
        At Newbie Job Finder, we are dedicated to leveling the playing field for those embarking on their professional
        journey.
      </p>
      <p class="py-1 lh-lg">
        We understand that the first steps in a career can be both exciting and challenging. That's why our mission is
        clear: to guide and support you through this crucial phase. With Newbie Job Finder, you're not just job hunting;
        you're navigating a path toward success.
      </p>
      <p class="lh-lg">
        Join us in creating a future where everyone has the chance to shine in their chosen field. Together, let's
        redefine career beginnings and unlock a world of possibilities. Your journey to success starts here - with
        Newbie Job Finder.
      </p>

      <div class="home-btn-about pt-3">
        <a href="#" class="home-about-btn py-3 px-3 rounded-1" routerLink="/about">
          Learn More
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-6 text-center pt-4">
      <img src="../../../../assets/about-img.png" alt="" class="img-fluid" width="420">
    </div>
  </div>
</section>
