<section class="testimonial py-5 mt-5">
  <div class="container py-5">
    <div class=" row testimonial-header d-flex justify-content-between align-items-center">
      <div class="col-sm-4 col-md-6">
        <span class="h3 fw-semibold">Reviews</span>
        <h1 class="fw-bold h1">
          Real Reviews From Real Users
        </h1>
      </div>
      <div class="arrow-icons col-sm-7 col-md-6 d-flex gap-4 pt-4 justify-content-end d-none d-md-flex">
        <i class="bi bi-arrow-left-circle-fill fs-2" aria-hidden="true" data-bs-slide="prev" type="button"
          data-bs-target="#carouselExample"></i>
        <i class="bi bi-arrow-right-circle-fill fs-2" aria-hidden="true" data-bs-slide="next" type="button"
          data-bs-target="#carouselExample"></i>
      </div>
      <div class="arrow-icons col-sm-7 d-flex gap-4 pt-4 justify-content-center d-md-none">
        <i class="bi bi-arrow-left-circle-fill fs-2" aria-hidden="true" data-bs-slide="prev" type="button"
          data-bs-target="#responsive"></i>
        <i class="bi bi-arrow-right-circle-fill fs-2" aria-hidden="true" data-bs-slide="next" type="button"
          data-bs-target="#responsive"></i>
      </div>
    </div>


    <div id="carouselExample" class="carousel slide pt-5 ">
      <div class="carousel-inner d-none d-md-block">
        <div class="carousel-item active">
          <div class="row slider justify-content-center">

            <div class="col-sm-4">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg" alt="" width="80"
                    height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold">Sarah Thompson</p>
                  <small>Marketing Coordinator</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony-->
              <div class="user-desc py-3">
                <p class="m-0 lh-lg">
                  Thanks to Newbie Job Finder, I found my dream job in marketing. The platform not only connected me
                  with relevant opportunities but also provided valuable resources to enhance my skills. Grateful for
                  the support on my journey!
                </p>
              </div>
            </div>

            <div class="col-sm-4 user-testi ps-3">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img
                    src="https://images.pexels.com/photos/718978/pexels-photo-718978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" width="80" height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold">Emily Chang</p>
                  <small>UX Designer</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony -->
              <div class="user-desc">
                <p class="m-0 lh-lg py-3">
                  The commitment to quality at Newbie Job Finder is impressive. The platform not only helped me discover
                  exciting UX design positions but also ensured my profile reflected my skills accurately. A
                  game-changer for career growth!
                </p>
              </div>
            </div>

            <div class="col-sm-4 user-testi ps-3">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img
                    src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" width="80" height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold"> Alex Rodriguez</p>
                  <small>Recent Graduat</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony-->
              <div class="user-desc">
                <p class="m-0 lh-lg py-3">
                  As a recent graduate, job hunting can be overwhelming. Newbie Job Finder made the process seamless.
                  The personalized profile check gave me confidence, and I landed a fantastic entry-level role in my
                  field.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class="row slider justify-content-center">

            <div class="col-sm-4">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img src="https://images.pexels.com/photos/697509/pexels-photo-697509.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" width="80"
                    height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold">Michael H.</p>
                  <small>Graphic Designer</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony-->
              <div class="user-desc py-3">
                <p class="m-0 lh-lg">
                  Newbie Job Finder exceeded my expectations in every way! I discovered my dream marketing job with their help, and the platform's user-friendly interface streamlined the entire job search process.
                </p>
              </div>
            </div>

            <div class="col-sm-4 user-testi ps-3">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img
                    src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" width="80" height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold">Carlos R.</p>
                  <small>Software Developer</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony -->
              <div class="user-desc">
                <p class="m-0 lh-lg py-3">
                  Newbie Job Finder exceeded my expectations in every way possible. As a budding software developer, I was struggling to navigate the job market. The platform's comprehensive approach to resume building, interview preparation, and skill training made a significant difference.
                </p>
              </div>
            </div>

            <div class="col-sm-4 user-testi ps-3">
              <!--- user box header -->
              <div class="user-box-header d-flex align-items-center">
                <div class="user-img">
                  <img
                    src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" width="80" height="80" class="rounded-circle object-fit-cover">
                </div>
                <div class="user-detail ps-2">
                  <p class="m-0 fw-semibold"> Alicia R.</p>
                  <small>Customer Service Representative</small>
                </div>
              </div>
              <!--- rating -->
              <div class="rating mt-2 d-flex gap-2">
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
                <i class="bi bi-star-fill fs-5"></i>
              </div>
              <!--- User testimony-->
              <div class="user-desc">
                <p class="m-0 lh-lg py-3">
                  Thanks to Newbie Job Finder, I'm living my career dreams in marketing! The platform's effective job-matching algorithm made finding opportunities a joy. The additional resources for skill enhancement were the icing on the cake.
                </p>
              </div>
            </div>

          </div>
        </div>






      </div>
    </div>

    <!-------------------   RESPONSIVE CAROUSEL        ---------------------->
    <div id="responsive" class="carousel slide d-md-none" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="">
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg" alt="" width="80"
                  height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold">Sarah Thompson</p>
                <small>Marketing Coordinator</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony-->
            <div class="user-desc py-3">
              <p class="m-0 lh-lg">
                Thanks to Newbie Job Finder, I found my dream job in marketing. The platform not only connected me with
                relevant opportunities but also provided valuable resources to enhance my skills. Grateful for the
                support on my journey!
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img
                  src="https://images.pexels.com/photos/718978/pexels-photo-718978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt="" width="80" height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold">Emily Chang</p>
                <small>UX Designer</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony -->
            <div class="user-desc">
              <p class="m-0 lh-lg py-3">
                The commitment to quality at Newbie Job Finder is impressive. The platform not only helped me discover
                exciting UX design positions but also ensured my profile reflected my skills accurately. A game-changer
                for career growth!
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img
                  src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt="" width="80" height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold"> Alex Rodriguez</p>
                <small>Recent Graduat</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony-->
            <div class="user-desc">
              <p class="m-0 lh-lg py-3">
                As a recent graduate, job hunting can be overwhelming. Newbie Job Finder made the process seamless. The
                personalized profile check gave me confidence, and I landed a fantastic entry-level role in my field.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img src="https://images.pexels.com/photos/697509/pexels-photo-697509.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" width="80"
                  height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold">Michael H.</p>
                <small>Graphic Designer</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony-->
            <div class="user-desc py-3">
              <p class="m-0 lh-lg">
                Newbie Job Finder exceeded my expectations in every way! I discovered my dream marketing job with their help, and the platform's user-friendly interface streamlined the entire job search process.
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div>
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img
                  src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt="" width="80" height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold">Carlos R.</p>
                <small>Software Developer</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony -->
            <div class="user-desc">
              <p class="m-0 lh-lg py-3">
                Newbie Job Finder exceeded my expectations in every way possible. As a budding software developer, I was struggling to navigate the job market. The platform's comprehensive approach to resume building, interview preparation, and skill training made a significant difference.
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div>
            <!--- user box header -->
            <div class="user-box-header d-flex align-items-center">
              <div class="user-img">
                <img
                  src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt="" width="80" height="80" class="rounded-circle object-fit-cover">
              </div>
              <div class="user-detail ps-2">
                <p class="m-0 fw-semibold"> Alicia R.</p>
                <small>Customer Service Representative</small>
              </div>
            </div>
            <!--- rating -->
            <div class="rating mt-2 d-flex gap-2">
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
              <i class="bi bi-star-fill fs-5"></i>
            </div>
            <!--- User testimony-->
            <div class="user-desc">
              <p class="m-0 lh-lg py-3">
                Thanks to Newbie Job Finder, I'm living my career dreams in marketing! The platform's effective job-matching algorithm made finding opportunities a joy. The additional resources for skill enhancement were the icing on the cake.
              </p>
            </div>
          </div>
        </div>








      </div>
    </div>








  </div>
</section>